section{
    h1{
        color: #333;
    }
    ul{
        li{
            color: #666;
            ul{
                li{
                    a{
                        text-decoration: none; color: #666;
                        &:hover{
                            color: black; font-weight: bold;
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
}